* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #1F1E1E;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
}

.title {
  font-weight: 500;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
}

.header {
  background-image: url(../images/header-bg.svg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 16px 0 49px;
}

.header__phone {
  font-size: 16px;
  line-height: 130%;
  font-weight: 700;
  color: #FFFFFF;
}

.header__phone-number {
  font-weight: 400;
  margin-left: 19px;
  padding: 12px 31px 13px;
  background-color: #886239;
  border-radius: 22px;
}

.header__title {
  font-family: 'PT Serif', serif;
  font-weight: 700;
  font-size: 90px;
  line-height: 130%;
  text-align: center;
  margin-bottom: auto;
}

.header__descr {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 20px;
  max-width: 420px;
}

.header__btn {
  display: inline-block;
  background-color: #886239;
  border-radius: 30px;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  padding: 19px 55px 20px;
  margin-bottom: 20px;
}

.header__arrow {
  text-align: center;
  margin-bottom: 15px;
}

.menu {
  width: 100%;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  margin-top: 15px;
  padding: 27px 0 24px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 19px;
  font-size: 16px;
  color: #FFFFFF;
}

.direction {
  padding: 100px 0;
}

.direction__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 32px;
}

.direction__img {
  display: block;
}

.direction__tex {
  font-size: 16px;
  border: 1px solid #D9D9DE;
  border-top: none;
  padding: 10px 19px 14px;
}

.travel-info {
  background-image: url(../images/travel-info-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 30px 0 50px;
}

.travel-info__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 54px 67px;
}

.travel-info__title {
  color: #FFFFFF;
  margin-bottom: 50px;
}

.travel-info__img {
  margin-bottom: 15px;
}

.travel-info__text {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 130%;
}

.popular {
  padding: 100px 0;
}

.popular__title {
  margin-bottom: 40px;
}

.popular__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  grid-gap: 32px;
  padding-bottom: 80px;
  border-bottom: 1px solid #C4C4C4;
}

.popular__link {
  padding: 16px 24px 19px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 256px;
  line-height: 130%;
}

.popular__link:nth-child(3), .popular__link:nth-child(6) {
  grid-column: span 2;
  grid-row: span 2;
}

.popular__link-title {
  font-weight: 500;
  margin-bottom: 15px;
}

.popular__link-title--big {
  font-size: 24px;
}

.popular__price {
  font-weight: 700;
  font-size: 16px;
  margin-top: auto;
}

.popular__country, .popular__time {
  margin-bottom: 15px;
  line-height: 130%;
}

.map {
  padding-bottom: 100px;
}

.map__title {
  margin-bottom: 46px;
}

.about {
  padding-bottom: 100px;
}

.about__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 448px 640px;
      grid-template-columns: 448px 640px;
  grid-gap: 32px;
}

.about__title {
  text-align: left;
  margin-bottom: 25px;
}

.about__text {
  margin-bottom: 34px;
}

.about__link {
  font-size: 16px;
  line-height: 19px;
  text-decoration: underline;
  color: #C4C4C4;
}

.about__popup {
  background-image: url(../images/about-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery {
  padding: 50px 0 105px;
  background-color: #886239;
  color: #fff;
}

.gallery__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  padding-right: 160px;
}

.gallery__link {
  font-size: 16px;
  line-height: 19px;
  text-decoration: underline;
}

.gallery__item-inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 32px;
}

.slick-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: -85px;
  right: 0;
}

.slick-prev {
  right: 60px;
}

.tour {
  padding: 100px 0;
}

.tour__title {
  margin-bottom: 77px;
}

.tour__inner {
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 46px;
          column-gap: 46px;
  border-bottom: 1px solid #D9D9DE;
  padding-bottom: 50px;
  margin-bottom: 44px;
}

.tour__text {
  margin-bottom: 15px;
}

.tour__text span {
  font-weight: 700;
}

.tour__info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  grid-gap: 70px;
}

.tour__info-item {
  font-family: 'PT Serif', serif;
  font-weight: 700;
  font-size: 58px;
  line-height: 60px;
  color: #886239;
  text-align: center;
}

.tour__info-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #1F1E1E;
  line-height: 25px;
}

.booking {
  background: #EAEAEA;
  padding: 75px 0;
}

.booking__title {
  font-weight: bold;
  font-size: 36px;
  color: #1F1E1E;
  margin-bottom: 43px;
}

.booking__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 830px;
  margin: 0 auto;
}

.booking__input {
  width: 256px;
  height: 44px;
  border: 1px solid #D9D9DE;
  padding: 11px 14px 12px;
  margin-bottom: 28px;
  font-size: 16px;
}

.booking__input::-webkit-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 130%;
  color: #C4C4C4;
}

.booking__input:-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 130%;
  color: #C4C4C4;
}

.booking__input::-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 130%;
  color: #C4C4C4;
}

.booking__input::placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 130%;
  color: #C4C4C4;
}

.booking__area {
  width: 100%;
  height: 112px;
  border: 1px solid #D9D9DE;
  padding: 14px;
  resize: none;
  margin-bottom: 67px;
}

.booking__area::-webkit-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 130%;
  color: #C4C4C4;
}

.booking__area:-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 130%;
  color: #C4C4C4;
}

.booking__area::-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 130%;
  color: #C4C4C4;
}

.booking__area::placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 130%;
  color: #C4C4C4;
}

.booking__btn {
  background: #886239;
  border-radius: 30px;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  padding: 19px 65px 20px;
  cursor: pointer;
}

.booking__lable {
  font-size: 16px;
  line-height: 130%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #1F1E1E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.booking__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  padding-left: 45px;
}

.booking__checkbox-style {
  width: 26px;
  height: 26px;
  border: 2px solid #c4c4c4;
  border-radius: 2px;
  position: absolute;
  margin-left: -45px;
}

.booking__checkbox:checked + .booking__checkbox-style::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #c4c4c4;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.footer {
  background: #1F1E1E;
  padding: 80px 0;
}

.footer__logo {
  text-align: center;
  margin-bottom: 70px;
}

.footer__inner {
  max-width: 830px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  line-height: 130%;
  color: rgba(255, 255, 255, 0.8);
}

.footer__info {
  width: 225px;
}

.footer__inner-title {
  margin-bottom: 7px;
  font-weight: 500;
  color: #fff;
}

.footer__copy {
  margin-bottom: 3px;
}

.footer__link {
  text-decoration: underline;
  opacity: 0.8;
}

.footer__address {
  width: 165px;
}

.footer__contacts {
  width: 210px;
}

.footer__mail {
  display: block;
}
