@media (max-width: 800px){
    .header{
        &__phone span{
            display: none;
        }
    }
}
@media (max-width: 560px){
    .header{
        &__title {
            font-size: 50px;
        }
    &__top {
        justify-content: center;
        }
    }
    .menu{
        border: none;
        &__btn {
            display: inline-block;
            width: 40px;
            height: 40px;
            border: none;
            padding: 0;
            background-color: transparent;
            &::after, &::before{
                content: '';
                position: absolute;
                width: 100%;
                left: 0;
                height: 2px;
                background-color: #fff;
            }
            &::before{
                top:0;
            }
            &::after {
                bottom: 0;
            }
        }
        &__btn span {
            display: block;
            height: 2px;
            background-color: #fff;
        }
        &__list {
            transform: translate(-1000%);
        }
    }
    .logo {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
}