* {
    box-sizing: border-box;
    &::after,
    &::before {
        box-sizing: border-box;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #1F1E1E;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    // чтобы не прилипало к краям
    padding: 0 10px; 
}

.title {
    font-weight: 500;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
}

.header {
    background-image: url(../images/header-bg.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    
    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100vh;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // для переноса меню на следующую строку
        flex-wrap: wrap;
        padding: 16px 0 49px;
    }

    &__phone {
        font-size: 16px;
        line-height: 130%;
        font-weight: 700;
        color: #FFFFFF;
    }

    &__phone-number {
        font-weight: 400;
        margin-left: 19px;
        padding: 12px 31px 13px;
        background-color: #886239;
        border-radius: 22px;
    }

    &__title {
        font-family: 'PT Serif', serif;
        font-weight: 700;
        font-size: 90px;
        line-height: 130%;
        text-align: center;
        margin-bottom: auto;
    }

    &__descr {
        font-weight: 700;
        font-size: 20px;
        line-height: 140%;
        margin-bottom: 20px;
        max-width: 420px;
    }

    &__btn {
        // ссылка строчный, делаем блоком
        display: inline-block;
        background-color: #886239;
        border-radius: 30px;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
        padding: 19px 55px 20px;
        margin-bottom: 20px;
    }

    &__arrow {
        text-align: center;
        margin-bottom: 15px;
    }

}

.menu {
    width: 100%;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    margin-top: 15px;
    padding: 27px 0 24px;

    &__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    line-height: 19px;
    font-size: 16px;
    color: #FFFFFF;
    }
}

.direction {
    padding: 100px 0;
    &__inner {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 32px;
    }

    &__img {
        display: block;
    }

    &__tex {
        font-size: 16px;
        border: 1px solid #D9D9DE;
        border-top: none;
        padding: 10px 19px 14px;
    }
}

.travel-info {
    background-image: url(../images/travel-info-bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding: 30px 0 50px;
    
    &__inner {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 54px 67px;
    }

    &__title {
        color: #FFFFFF;
        margin-bottom: 50px;
    }

    &__img {
        margin-bottom: 15px;
    }

    &__text {
        color: #FFFFFF;
        font-size: 16px;
        line-height: 130%;
    }
}

.popular {
    padding: 100px 0;
    &__title {
        margin-bottom: 40px;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 32px;
        padding-bottom: 80px;
        border-bottom: 1px solid #C4C4C4;
    }

    &__link {
        padding: 16px 24px 19px;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-width: 256px;
        line-height: 130%;
        &:nth-child(3),
        &:nth-child(6) {
            grid-column: span 2;
            grid-row: span 2;
        }
    }

    &__link-title {
        font-weight: 500;
        margin-bottom: 15px;
    }

    &__link-title--big {
        font-size: 24px;
    }

    &__price {
        font-weight: 700;
        font-size: 16px;
        margin-top: auto;
    }

    &__country,
    &__time {
        margin-bottom: 15px;
        line-height: 130%;
    }
}

.map {
    padding-bottom: 100px;
    &__title {
        margin-bottom: 46px;
    }
}

.about {
    padding-bottom: 100px;
    &__inner {
        display: grid;
        grid-template-columns: 448px 640px;
        grid-gap: 32px;
    }

    &__title {
        text-align: left;
        margin-bottom: 25px;
    }

    &__text {
        margin-bottom: 34px;
    }

    &__link {
        font-size: 16px;
        line-height: 19px;
        text-decoration: underline;
        color: #C4C4C4;
    }

    &__popup {
        background-image: url(../images/about-bg.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.gallery {
    padding: 50px 0 105px;
    background-color: #886239;
    color: #fff;
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
        padding-right: 160px;
    }

    &__link {
        font-size: 16px;
        line-height: 19px;
        text-decoration: underline;
    }

    &__item-inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 32px;
    }
}

.slick-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: -85px;
    right: 0;
}

.slick-prev {
    right: 60px;
}
.tour {
    padding: 100px 0;

    &__title {
        margin-bottom: 77px;
    }

    &__inner {
        column-count: 2;
        column-gap: 46px;
        border-bottom: 1px solid #D9D9DE;
        padding-bottom: 50px;
        margin-bottom: 44px;
    }

    &__text {
        span {
            font-weight: 700;
        }

        margin-bottom: 15px;
    }

    &__info {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 70px;
    }

    &__info-item {
        font-family: 'PT Serif', serif;
        font-weight: 700;
        font-size: 58px;
        line-height: 60px;
        color: #886239;
        text-align: center;
    }

    &__info-text {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 20px;
        color: #1F1E1E;
        line-height: 25px;
    }
}

.booking {
    background: #EAEAEA;
    padding: 75px 0;
    &__title {
        font-weight: bold;
        font-size: 36px;
        color: #1F1E1E;
        margin-bottom:43px;
    }

    &__form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        max-width: 830px;
        margin: 0 auto;
    }

    &__input {
        width: 256px;
        height: 44px;
        border: 1px solid #D9D9DE;
        padding: 11px 14px 12px;
        margin-bottom: 28px;
        font-size: 16px;
        &::placeholder {
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            line-height: 130%;
            color: #C4C4C4;
        }

    }

    &__area {
        width: 100%;
        height: 112px;
        border: 1px solid #D9D9DE;
        padding: 14px;
        resize: none;
        margin-bottom: 67px;
        &::placeholder {
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            line-height: 130%;
            color: #C4C4C4;
        }
    }

    &__btn {
        background: #886239;
        border-radius: 30px;
        border: none;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
        padding: 19px 65px 20px;
        cursor: pointer;
    }

    &__lable {
        font-size: 16px;
        line-height: 130%;
        text-decoration-line: underline;
        color: #1F1E1E;
        display: flex;
        align-items: center;
    }

    &__checkbox {
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        padding-left: 45px;

    }


    &__checkbox-style {
        width: 26px;
        height: 26px;
        border: 2px solid #c4c4c4;
        border-radius: 2px;
        position: absolute;
        margin-left: -45px;
    }
}

.booking__checkbox:checked + .booking__checkbox-style::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #c4c4c4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.footer {
    background: #1F1E1E;
    padding: 80px 0;
    &__logo {
        text-align: center;
        margin-bottom: 70px;
    }

    &__inner {
        max-width: 830px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        line-height: 130%;
        color: rgba(255,255,255, .8);
    }

    &__info {
        width: 225px;
    }

    &__inner-title {
        margin-bottom: 7px;
        font-weight: 500;
        color: #fff;
    }

    &__copy {
        margin-bottom: 3px;
    }

    &__link {
        text-decoration: underline;
        opacity: 0.8;
    }

    &__address {
        width: 165px;
    }

    &__contacts {
        width: 210px;
    }

    &__mail {
        display: block;
    }
}



